{% extends "admin/layout.html" %} {% block content %}

<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
  <script type="text/javascript">
    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
  </script>

  <ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="">Data</li>
		<li class="active">Paket</li>
	</ul><!-- /.breadcrumb -->

  <!-- #section:basics/content.searchbox -->
  <div class="nav-search" id="nav-search">
    <form class="form-search">
      <span class="input-icon">
        <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
        <i class="ace-icon fa fa-search nav-search-icon"></i>
      </span>
    </form>
  </div><!-- /.nav-search -->

</div>

<div class="page-content">
  <input hidden id="userid" value="{{userid}}">
  <input hidden id="role" value="{{role}}">
  <div class="page-header">
    <h1>
      LIST PAKET
      <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        overview &amp; stats
      </small>
    </h1>
  </div><!-- /.page-header -->

  <div class="row">
    <div class="col-xs-12 widget-container-col" >
      <div class="widget-box">
        <div class="widget-header">
					<div class="widget-toolbar no-border">
						<button class="btn btn-xs btn-inverse bigger" data-toggle="modal" data-target="#modal_paket">
							<i class="ace-icon fa fa-plus"></i>
							Add Paket
						</button>
					</div>
				</div>
        <div class="widget-body">
          <div class="widget-main">
            <div class="table-responsive">
            <table id="all-paket" class="table table-striped table-bordered nowrap table-responsive">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Kode Program</th>
                        <th>Kode Kegiatan</th>
                        <th>Kode SubKegiatan</th>
                        <th>Nama Paket</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
<div id="modal_paket" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Tambah Paket</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
					<!-- #section:elements.form -->

          <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Kode Program  </label>
                <div class="col-sm-9">
                  <select class="chosen-select form-control" id="kode_program" data-placeholder="Select Program...">
                    <!-- <option value="">  </option>
                    <option value="10">admin</option>
                    <option value="20">operator</option>
                    <option value="30">ppk</option>
                    <option value="40">pptk</option> -->

                  </select>
                </div>

          </div>

          <div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="namprog"> Nama Program </label>

						<div class="col-sm-9">
							<input type="text" id="namprog" placeholder="Nama Paket" class="form-control">
						</div>
					</div>

          <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Kode Kegiatan  </label>
                <div class="col-sm-9">
                  <select class="chosen-select form-control" id="kode_kegiatan" data-placeholder="Select Program...">
                    <!-- <option value="">  </option>
                    <option value="10">admin</option>
                    <option value="20">operator</option>
                    <option value="30">ppk</option>
                    <option value="40">pptk</option> -->

                  </select>
                </div>

          </div>

          <div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="namkeg"> Nama Kegiatan </label>

						<div class="col-sm-9">
							<input type="text" id="namkeg" placeholder="Nama Paket" class="form-control">
						</div>
					</div>

          <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Kode Sub Kegiatan  </label>
                <div class="col-sm-9">
                  <select class="chosen-select form-control" id="kode_subkegiatan" data-placeholder="Select Program...">
                    <!-- <option value="">  </option>
                    <option value="10">admin</option>
                    <option value="20">operator</option>
                    <option value="30">ppk</option>
                    <option value="40">pptk</option> -->

                  </select>
                </div>

          </div>

          <div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="namsub"> Nama Sub Kegiatan </label>

						<div class="col-sm-9">
							<input type="text" id="namsub" placeholder="Nama Paket" class="form-control">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="nama_program"> Nama Paket </label>

						<div class="col-sm-9">
							<input type="text" id="nama_paket" placeholder="Nama Paket" class="form-control">
						</div>
					</div>

				</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-xs btn-danger" data-dismiss="modal"><i class="ace-icon fa fa-close"></i>close</button>
        <button type="button" id="save_paket" class="btn btn-xs btn-success" data-dismiss="modal"><i class="ace-icon fa fa-check"></i>submit</button>
      </div>
    </div>

  </div>
</div>

</div>

</div>
<!-- <script src="{{baseURL}}/assets/action-js/admin/datapengaduan.js"></script> -->
{% endblock %}
