{% extends "admin/layout.html" %} {% block content %}

<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
  <script type="text/javascript">
    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
  </script>

  <ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="">Fisik</li>
		<li class="active">Add Fisik</li>
	</ul><!-- /.breadcrumb -->

  <!-- #section:basics/content.searchbox -->
  <div class="nav-search" id="nav-search">
    <form class="form-search">
      <span class="input-icon">
        <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
        <i class="ace-icon fa fa-search nav-search-icon"></i>
      </span>
    </form>
  </div><!-- /.nav-search -->

</div>

<div class="page-content">
  <input hidden id="userid" value="{{userid}}">
  <input hidden id="role" value="{{role}}">
  <div class="page-header">
    <h1>
      FISIK FORM
      <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        overview &amp; stats
      </small>
    </h1>
  </div><!-- /.page-header -->

  <div class="row">
    <div class="col-xs-12 widget-container-col ui-sortable" >
      <div class="widget-box">
        <div class="widget-body">
          <div class="widget-main">
            <form class="form-horizontal" role="form">
      				<!-- #section:elements.form -->
      				<div class="form-group">
                <div class="row">
                  <div class="col-sm-9">
          					<label class="col-sm-5 control-label no-padding-right" for="form-field-1"> NIP </label>
          					<div class="col-sm-7">
          						<input type="text" id="form-field-1" placeholder="PD / Biro" class="col-xs-12 col-sm-12" />
          					</div>
          				</div>
          			</div>
      				</div>

              <div class="space-4"></div>

      				<div class="form-group">
                <div class="row">
                  <div class="col-sm-9">
                    <label class="col-sm-5 control-label no-padding-right" for="form-field-1"> Kode Kegiatan </label>
          					<div class="col-sm-7">
          						<input type="text" id="form-field-1" placeholder="Rp." class="col-xs-12 col-sm-12" />
          					</div>
                  </div>
                </div>
      				</div>

              <div class="space-4"></div>

      				<div class="form-group">
                <div class="row">
                  <div class="col-sm-9">
                    <label class="col-sm-5 control-label no-padding-right" for="form-field-1"> Nama Kegiatan </label>
          					<div class="col-sm-7">
          						<input type="text" id="form-field-1" placeholder="Rp." class="col-xs-12 col-sm-12" />
          					</div>
                  </div>
                </div>
      				</div>

      				<div class="space-4"></div>

              <div class="form-group">
                <div class="row">
                  <div class="col-sm-9">
                    <label class="col-sm-5 control-label no-padding-right" for="form-field-1"> Anggaran Kegiatan </label>
          					<div class="col-sm-7">
                      <input type="text" id="form-field-1" placeholder="Lokasi" class="col-xs-12 col-sm-12" />
          					</div>
                  </div>

                </div>
      				</div>

              <div class="space-4"></div>

      				<div class="form-group">
                <div class="row">
                  <div class="col-sm-9">
                    <label class="col-sm-5 control-label no-padding-right" for="form-field-1"> Nilai Kontrak </label>
          					<div class="col-sm-7">
          						<input type="text" id="form-field-1" placeholder="Lokasi" class="col-xs-12 col-sm-12" />
          					</div>
                  </div>
                </div>
      				</div>

              <div class="space-4"></div>

              <div class="form-group">
                <div class="row">
                  <div class="col-sm-9">
                    <label class="col-sm-5 control-label no-padding-right" for="form-field-1"> Kode Sub Kegiatan  </label>
          					<div class="col-sm-7">
                      <input type="text" id="form-field-1" placeholder="Lokasi" class="col-xs-12 col-sm-12" />

          					</div>
                  </div>

                </div>
      				</div>

              <div class="space-4"></div>

      				<div class="form-group">
                <div class="row">
                  <div class="col-sm-9">
                    <label class="col-sm-5 control-label no-padding-right" for="form-field-1"> Nama Sub Kegiatan </label>
          					<div class="col-sm-7">
          						<input type="text" id="form-field-1" placeholder="" class="col-xs-12 col-sm-12" />
          					</div>
                  </div>
                </div>
      				</div>

              <div class="space-4"></div>

      				<div class="form-group">
                <div class="row">
                  <div class="col-sm-9">
                    <label class="col-sm-5 control-label no-padding-right" for="form-field-1"> Lokasi </label>
          					<div class="col-sm-7">
          						<input type="text" id="form-field-1" placeholder="" class="col-xs-12 col-sm-12" />
          					</div>
                  </div>
                </div>
      				</div>

              <div class="space-4"></div>

      				<div class="form-group">
                <div class="row">
                  <div class="col-sm-9">
                    <label class="col-sm-5 control-label no-padding-right" for="form-field-1"> Bulan </label>
          					<div class="col-sm-7">
          						<input type="text" id="form-field-1" placeholder="" class="col-xs-12 col-sm-12" />
          					</div>
                  </div>
                </div>
      				</div>

              <div class="space-4"></div>

      				<div class="form-group">
                <div class="row">
                  <div class="col-sm-9">
                    <label class="col-sm-5 control-label no-padding-right" for="form-field-1"> Progres Bulan Lalu </label>
          					<div class="col-sm-7">
          						<input type="text" id="form-field-1" placeholder="" class="col-xs-12 col-sm-12" />
          					</div>
                  </div>
                </div>
      				</div>

              <div class="space-4"></div>

      				<div class="form-group">
                <div class="row">
                  <div class="col-sm-9">
                    <label class="col-sm-5 control-label no-padding-right" for="form-field-1"> Minggu Ke  </label>
          					<div class="col-sm-7">
                      <div class="input-group">
                        <span class="input-group-addon">
                      	   <span> 1 </span>
                         </span>
                      	<input type="text" class="form-control search-query" placeholder="">
                      </div>
                    </div>
                  </div>
                </div>
      				</div>
              <div class="space-4"></div>

      				<div class="form-group">
                <div class="row">
                  <div class="col-sm-9">
                    <label class="col-sm-5 control-label no-padding-right" for="form-field-1"> </label>
          					<div class="col-sm-7">
                      <div class="input-group">
                        <span class="input-group-addon">
                      	   <span> 2 </span>
                         </span>
                      	<input type="text" class="form-control search-query" placeholder="">
                      </div>
                    </div>
                  </div>
                </div>
      				</div>
              <div class="space-4"></div>

      				<div class="form-group">
                <div class="row">
                  <div class="col-sm-9">
                    <label class="col-sm-5 control-label no-padding-right" for="form-field-1"> </label>
          					<div class="col-sm-7">
                      <div class="input-group">
                        <span class="input-group-addon">
                      	   <span> 3 </span>
                         </span>
                      	<input type="text" class="form-control search-query" placeholder="">
                      </div>
                    </div>
                  </div>
                </div>
      				</div>
              <div class="space-4"></div>

      				<div class="form-group">
                <div class="row">
                  <div class="col-sm-9">
                    <label class="col-sm-5 control-label no-padding-right" for="form-field-1"> </label>
          					<div class="col-sm-7">
                      <div class="input-group">
                        <span class="input-group-addon">
                      	   <span> 4 </span>
                         </span>
                      	<input type="text" class="form-control search-query" placeholder="">
                      </div>
                    </div>
                  </div>
                </div>
      				</div>
              <div class="space-4"></div>

      				<div class="form-group">
                <div class="row">
                  <div class="col-sm-9">
                    <label class="col-sm-5 control-label no-padding-right" for="form-field-1"> </label>
          					<div class="col-sm-7">
                      <div class="input-group">
                        <span class="input-group-addon">
                      	   <span> 5 </span>
                         </span>
                      	<input type="text" class="form-control search-query" placeholder="">
                      </div>
                    </div>
                  </div>
                </div>
      				</div>

      			</form>
          </div>
          <div class="widget-toolbox padding-8 clearfix">
						<button class="btn btn-xs btn-danger pull-left" onclick="window.location.href = 'fisik'">
              <i class="ace-icon fa fa-arrow-left icon-on-right"></i>
							<span class="bigger-110">Kembali</span>
						</button>

						<button class="btn btn-xs btn-success pull-right">
							<span class="bigger-110">Simpan</span>

							<i class="ace-icon fa fa-arrow-right icon-on-right"></i>
						</button>
					</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
<div id="modal_program" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Program</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
					<!-- #section:elements.form -->
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="kode_program"> Kode Program </label>

						<div class="col-sm-9">
							<input type="text" id="kode_program" placeholder="Kode Program" class="form-control">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="nama_program"> Nama Program </label>

						<div class="col-sm-9">
							<input type="text" id="nama_program" placeholder="Nama Program" class="form-control">
						</div>
					</div>

				</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-xs btn-danger" data-dismiss="modal"><i class="ace-icon fa fa-close"></i>close</button>
        <button type="button" id="save_program" class="btn btn-xs btn-success" data-dismiss="modal"><i class="ace-icon fa fa-check"></i>submit</button>
      </div>
    </div>

  </div>
</div>

</div>

</div>
<!-- <script src="{{baseURL}}/assets/action-js/admin/datapengaduan.js"></script> -->
{% endblock %}
