<div id="sidebar" class="sidebar responsive sidebar-fixed sidebar-scroll">
				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
				</script>

				<div class="sidebar-shortcuts" id="sidebar-shortcuts">
					<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
						<button class="btn btn-success">
							<i class="ace-icon fa fa-signal"></i>
						</button>

						<button class="btn btn-info">
							<i class="ace-icon fa fa-pencil"></i>
						</button>

						<!-- #section:basics/sidebar.layout.shortcuts -->
						<button class="btn btn-warning">
							<i class="ace-icon fa fa-users"></i>
						</button>

						<button class="btn btn-danger">
							<i class="ace-icon fa fa-cogs"></i>
						</button>

						<!-- /section:basics/sidebar.layout.shortcuts -->
					</div>

					<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
						<span class="btn btn-success"></span>

						<span class="btn btn-info"></span>

						<span class="btn btn-warning"></span>

						<span class="btn btn-danger"></span>
					</div>
				</div><!-- /.sidebar-shortcuts -->

				<ul id="nav-menu" class="nav nav-list">
					<li id="menu-dashboard" class="">
						<a href="dashboard">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> Dashboard </span>
						</a>

						<b class="arrow"></b>
					</li>

					<li id="menu-data" class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-folder-open"></i>
							<span class="menu-text"> Data </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">

							<li id="menu-program" class="">
								<a href="program">
									<i class="menu-icon fa fa-caret-right"></i>
									Program
								</a>

								<b class="arrow"></b>
							</li>

							<li id="menu-kegiatan" class="">
								<a href="kegiatan">
									<i class="menu-icon fa fa-caret-right"></i>
									Kegiatan
								</a>

								<b class="arrow"></b>
							</li>

							<li id="menu-subkegiatan" class="">
								<a href="subkegiatan">
									<i class="menu-icon fa fa-caret-right"></i>
									Sub Kegiatan
								</a>

								<b class="arrow"></b>
							</li>

							<li id="menu-paket" class="">
								<a href="paket">
									<i class="menu-icon fa fa-caret-right"></i>
									Paket
								</a>

								<b class="arrow"></b>
							</li>

						</ul>
					</li>
					{% if role == '100' %}
          <li id="menu-rencana" class="">
						<a href="rencana">
							<i class="menu-icon fa fa-external-link"></i>
							<span class="menu-text"> Rencana (Target) </span>
						</a>

						<b class="arrow"></b>
					</li>
					{% endif %}
          <li id="menu-laporan" class="">
						<a href="laporan">
							<i class="menu-icon fa fa-print"></i>
							<span class="menu-text"> Laporan (Realisasi) </span>
						</a>

						<b class="arrow"></b>
					</li>

          <li id="menu-biodata" class="" style="display:none;">
						<a href="biodata">
							<i class="menu-icon fa fa-credit-card"></i>
							<span class="menu-text"> Biodata </span>
						</a>

						<b class="arrow"></b>
					</li>

          <li id="menu-target" class="" style="display:none;">
						<a href="target">
							<i class="menu-icon fa fa-external-link"></i>
							<span class="menu-text"> Target </span>
						</a>

						<b class="arrow"></b>
					</li>

          <li id="menu-fisik" class="" style="display:none;">
						<a href="fisik">
							<i class="menu-icon fa fa-hdd-o"></i>
							<span class="menu-text"> Fisik </span>
						</a>

						<b class="arrow"></b>
					</li>

          <li id="menu-users" class="">
						<a href="users">
							<i class="menu-icon fa fa-users"></i>
							<span class="menu-text"> User </span>
						</a>

						<b class="arrow"></b>
					</li>

				</ul><!-- /.nav-list -->

				<!-- #section:basics/sidebar.layout.minimize -->
				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>

				<!-- /section:basics/sidebar.layout.minimize -->
				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
				</script>
			</div>
