<div class="footer_container">
				<div class="footer clearfix">
					<div class="row">
						<div class="row page_margin_top_section">
							<div class="column column_2_3">
								<div class="row">
									<h4 class="box_header" style="width:100%">Lokasi</h4>
									<div class="contact_map margin_top_15" id="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1967.8263843142345!2d107.91649034443597!3d-6.837321415789473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68d12d87a917d9%3A0xc6414ade35daaf1!2sPOLRES%20SUMEDANG!5e1!3m2!1sid!2sid!4v1610037027689!5m2!1sid!2sid" width="705" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>									</div>
								</div>
							</div>
							<div class="column column_1_3">
								<div class="row">
									<h4 class="box_header" style="width:100%">Info Kontak</h4>
									<ul class="page_margin_top">
										<li class="item_content clearfix">
											<span class="features_icon envelope animated_element animation-scale scale" style="animation-duration: 600ms; animation-delay: 0ms; transition-delay: 0ms;"></span>
											<div class="text">
												<h4>Alamat</h4>
												<p>Jl. Prabu Gajah Agung No.48, Situ, Kec. Sumedang Utara, Kabupaten Sumedang, Jawa Barat 45621</p>
											</div>
										</li>
										<li class="item_content border_top clearfix">
											<span class="features_icon mobile animated_element animation-scale scale" style="animation-duration: 600ms; animation-delay: 0ms; transition-delay: 0ms;"></span>
											<div class="text">
												<h4>Telpon dan E-mail</h4>
												<p>Phone: 1-800-64-38<br>Fax: 1-800-64-39<br>E-mail: <a href="mailto:pressroom@mail.com" title="pressroom@mail.com">pressroom@mail.com</a></p>
											</div>
										</li>
										<li class="item_content border_top clearfix">
											<span class="features_icon clock animated_element animation-scale scale" style="animation-duration: 600ms; animation-delay: 0ms; transition-delay: 0ms;"></span>
											<div class="text">
												<h4>Jam Operasional</h4>
												<p>Senin-Jumat: 8.00 WIB - 16.00 WIB <br>Sabtu-Minggu: 08.00 WIB - 14.00 WIB</p>
											</div>
										</li>
									</ul>
								</div>
							</div>

						</div>
					</div>
					<div class="row copyright_row">
						<div class="column column_2_3">
							© Copyright <a href="http://bios-studio.com/" title="QuanticaLabs" target="_blank">Bios Studio IT</a> - 2021
						</div>
						<div class="column column_1_3">
							<ul class="footer_menu">
								<li>
									<h6><a href="http://bios-studio.com/" target="_blank" title="About">About</a></h6>
								</li>
								<li>
									<h6><a href="http://bios-studio.com/gallery-style/" target="_blank" title="Authors">Portofolio</a></h6>
								</li>
								<li>
									<h6><a href="http://bios-studio.com/" target="_blank" title="Contact Us">Contact Us</a></h6>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
